<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message #<%= id %></title>
</head>

<body>
    <h1>Messsage #<%= id %></h1>
    <h2>User</h2>
    <p><%= message.user %></p>
    <h2>Message</h2>
    <p><%= message.text %></p>
    <h2>Date</h2>
    <p><%= message.added %></p>
    <a href="/">
        <button>Message Board</button>
    </a>
</body>

</html>